@import './base.css';

header h1 {
	text-align: center;
	margin-top: 1rem;
}

.score_board {
	text-align: center;
}

.computer-side img {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

img {
	width: 10rem;
}

.main {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.to-the-right{
	display: flex;
	justify-content: flex-end;
}

#play-btn{
	font-size: 34px;
	border-radius: 12px;
}

.container-computer {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}
